@CHARSET "UTF-8";
body{
	font-family : 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color: #000;
}

p{
	margin-bottom: 20px;
	line-height: 1.7;
	letter-spacing: 1px;
}

img{
	margin-top: 10px;
	margin-bottom: 10px;
}
img.alignleft{
	margin-right: 20px;
}

a{
	color: #000;
	text-decoration: underline;
}