@charset "utf-8";
/* CSS Document */

/*スクロールマジック*/
.fadein{opacity:0;backface-visibility:hidden;transition:all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)}
.fadein.is-animated{opacity:1;}
/*.fadein.is-animated:nth-child(1){transition-delay:100ms}
.fadein.is-animated:nth-child(2){transition-delay:200ms}
.fadein.is-animated:nth-child(3){transition-delay:300ms}
.fadein.is-animated:nth-child(4){transition-delay:400ms}
.fadein.is-animated:nth-child(5){transition-delay:500ms}
.fadein.is-animated:nth-child(6){transition-delay:600ms}
.fadein.is-animated:nth-child(7){transition-delay:700ms}
.fadein.is-animated:nth-child(8){transition-delay:800ms}
.fadein.is-animated:nth-child(9){transition-delay:900ms}
.fadein.is-animated:nth-child(10){transition-delay:1000ms}*/