@CHARSET "UTF-8";
/*
Theme Name:PachiPachi
Author: Akemi Obana
date: 2015.24
mail: info@bluprima.com
*** basic setting on css/normalize.css ***
*/

/*--------------------------------------------------------------
----------------------------------------------------------------

1. =common setting
2. =Basic structure
3. =Header
4. =SmartPhone Nav
5. =Front
6. =Common
7. =Menu
8. =Space
9. =Access
10. =Event
11. =Footer

----------------------------------------------------------------
-------------------------------------------------------------- */

/*--------------------------------------------------------------
 =common setting
-------------------------------------------------------------- */

body {
	margin: 0;
	overflow: hidden;
	font-size: 13px;
	font-weight: normal;
	font-family : 'Noto Sans JP', sans-serif,'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	line-height: 1.7;
	letter-spacing: 1px;
}
/* ページ遷移のフェード */
#main {
	animation: fadeIn 1s ease 0s 1 normal;
	-webkit-animation: fadeIn 1s ease 0s 1 normal;
}
@keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}
a {
	outline: none;
	color: #3d2e15;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
a:hover {
	color: #00A6B6;
	opacity: 0.6;
}
.hover_fade{
	display: block;
	position: relative;
}
.hover_fade img{
	transition: .5s;
	-webkit-transition: .5s;
}
.hover_fade img.img_on{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.hover_fade:hover img.img_on{
	opacity: 1;
}
h1{
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 20px;
}
h2,h3{
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 15px;
}
h4,h5,h6{
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 15px;
}
p{
	margin-bottom: 20px;
}
.font_mincyo{
	font-family: "Georgia","Hiragino Mincho ProN","游明朝",YuMincho,"HG明朝E",Meiryo;
}
.font_en {
	font-family: 'EB Garamond', serif;
	font-style: italic;
}
.font_green{
	color: #1b5457;
}
#page .mb0 {margin-bottom: 0;}
/*transition*/
#header_tel,
.topics-wrapper .topics-box li a:after,
.link .btn.btn_ichiran:after,
#page_topics .nav-single a:after,
#main_navigation ul li:after
{
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.pc {
	display: block;
}
.sp {
	display: none;
}
@media screen and (max-width: 60em) {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
}

/*--------------------------------------------------------------
 =Basic structure
-------------------------------------------------------------- */

#page_menu, #page_topics, #page_staff {
	max-width: 1100px;
	margin: 0 auto;
}
.wrapper{
	width: 100%;
	margin: 0 auto;
}
#side_container{
	width: 230px;
	float: left;
}
/* sns */
.sns_btn{
	position: relative;
	height: 30px;
}
.sns_btn span{
	position: absolute;
	top: 0;
	display: inline-block;
}
.sns_btn span.fb{
	right: 70px;
	width: 100px;
}
.sns_btn span.tw{
	right: 180px;
}
.sns_btn span.google1{
	right: 0;
	width: 60px;
}
.error{
	background: #33ad69;
	color: #fff;
	text-align: center;
	padding: 3px 0;
	font-size: 14px;
}

@media screen and (min-width: 30em) and (max-width: 1100px) {
	#page_menu, #page_topics, #page_staff {
		padding: 0 20px;
	}
}

/*--------------------------------------------------------------
 =Header
-------------------------------------------------------------- */
header {
	position: absolute;
	z-index: 100;
	margin: 0 auto;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
}
header #header-inner {
	max-width: 1100px;
	margin: 0 auto;
}
header.fixed {
	position: fixed;
	top: -275px;
	z-index: 100;
	width: 100%;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	transform: translate(0,275px);
}
#nav-wrapper {
	display: flex;
	align-items: center;
}
nav {
	display: flex;
	width: 100%;
	align-items: center;
}
#site_header{
	background: #00a3ad;
	height: 30px;
	line-height: 30px;
	color: #fff;
}

#site_description{
	float: left;
	margin: 0;
}
#sns-wrapper {
	display: flex;
	align-items: center;
	margin-right: 16px;
}
@media all and (-ms-high-contrast: none) { /* IE */
	#sns-wrapper {
		margin-right: 36px;
	}
}
#sns-wrapper a {
	display: inline-block;
	padding: 0 8px;
	font-size: 30px;
	color: #00A6B6;
}
#header_tel{
	min-width: 90px;
	color: #ffffff;
	text-align: center;
	background-color: #00A6B6;
}
#header_tel:hover {
	opacity: 0.6;
}
#header_tel a{
	display: block;
	padding: 20px 0;
	color: #fff;
}
#header_tel i{
	font-size: 26px;
}
#header_tel span.tellink{
	font-size: 16px;
	padding: 0 5px;
	display: block;
	margin-top: -3px; 
}
#site_logo{
	float: left;
	display: block;
}
#main_navigation ul{
	float: right;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#main_navigation ul li{
	text-align: center;
	line-height: 1.3;
	position: relative;
}
#main_navigation ul li:after{
	content: '';
	position: absolute;
	top: 33%;
	right: 0;
	width: 1px;
	height: 15px;
	background: #000000;
}
#main_navigation ul li a{
	font-size: 16px;
	padding: 15px 25px;
	display: block;
}
#main_navigation ul li.last:after{
	content: none;
}
#main_navigation ul li:last-child:after{
	content: none;
}
#main_navigation ul li span.font_en{
	font-size: 25px;
	display: block;
}

@media screen and ( max-width: 1100px ) { 
	#site_logo, #main_navigation ul {
		float: none;
	}
	#site_logo {
		padding: 10px 20px 0;
	}
	#main_navigation ul li a {
		padding: 7px 25px;
	}
}

/* ページ内リンク用 ヘッダ分ずらす */
.menu_container{
	margin-top: -110px;
	padding-top: 110px;
}
@media screen and ( max-width:30em ){
	.menu_container{
		margin-top: -16vw;
		padding-top: 16vw;
	}
}

/*--------------------------------------------------------------
 =SmartPhone Nav
-------------------------------------------------------------- */

/*PCのスタイル*/
#nav_toggle{
	display: none;
}
@media screen and ( max-width:60em ){
	header .grobalNavSP {
		display: none;
		position: absolute;
		top: 13.4vw;
		width: 100%;
		background-color: rgba(255,255,255,0.9);
	}
	header .grobalNavSP li {
		width: 100%;
		font-size: 3.6vw;
	}
	header .grobalNavSP li:first-child a:before {
		content: none;
	}
	header .grobalNavSP li a {
		position: relative;
		display: block;
		padding: 3vw 6vw;
		color: #ffffff;
		background-color: #00A6B6;
		border-bottom: 1px solid #ffffff;
	}
	header .grobalNavSP li:last-child a {
		border-bottom: none;
	}
	header .grobalNavSP li a:after {
		content: '';
		width: 6px;
		height: 6px;
		border: 0px;
		border-top: solid 2px #ffffff;
		border-right: solid 2px #ffffff;
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		position: absolute;
		top: 50%;
		margin-top: -3px;
	}
	/*開閉ボタン*/
	header #nav_toggle{
		float: right;
		display: block !important;
		width: 6.5vw;
		height: 7vw;
		position: absolute;
		top: 3.5vw;
		right: 3vw;
		z-index: 100;
	}
	#nav_toggle div {
		position: relative;
	}
	#nav_toggle span{
		display: block;
		height: 0.8vw;
		background: #00A6B6;
		position:absolute;
		width: 100%;
		left: 0;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;	
	}
	#nav_toggle span:nth-child(1){
		top:0px;
	}
	#nav_toggle span:nth-child(2){
		top:2.6vw;
	}
	#nav_toggle span:nth-child(3){
		top:5.2vw;
	}
	
	/*開閉ボタンopen時*/
	.open #nav_toggle span:nth-child(1) {
		top: 2.8vw;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	.open #nav_toggle span:nth-child(2) {
		width: 0;
		left: 50%;
	}
	.open #nav_toggle span:nth-child(3) {
		top: 2.8vw;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
}
@media screen and ( min-width:30em ) and ( max-width:60em ) {
	header .logo {
		padding: 10px;
	}
	header .grobalNavSP {
		top: 66px;
	}
	header .grobalNavSP li {
		font-size: 13px;
	}
	header .grobalNavSP li a {
		padding: 10px 20px;
	}
	/*開閉ボタン*/
	header #nav_toggle{
		width: 25px;
		height: 54px;
		top: 20px;
		right: 10px;
	}
	#nav_toggle span{
		height: 3px;
		width: 100%;
	}
	#nav_toggle span:nth-child(1){
		top:0px;
	}
	#nav_toggle span:nth-child(2){
		top:10px;
	}
	#nav_toggle span:nth-child(3){
		top:20px;
	}
	/*開閉ボタンopen時*/
	.open #nav_toggle span:nth-child(1) {
		top: 12px;
	}
	.open #nav_toggle span:nth-child(3) {
		top: 12px;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	header .grobalNavSP li a:after {
		right: 20px;
	}
}
@media screen and ( max-width:30em ){
	header .logo {
		padding: 2vw 50vw 2vw 3vw;
	}
	header .logo a {
		display: block;
	}
	header .logo img {
		width: 100%;
		height: auto;
	}
	header .grobalNavSP li a:after {
		right: 6vw;
	}
}

/*--------------------------------------------------------------
 =Front
-------------------------------------------------------------- */
#main_slide.flexslider {
	margin-bottom: 80px;
/*	max-height: 780px;*//*画像コーディングのため削除*/
/*	min-height: 420px;*/
	overflow: hidden;
}
#main_slide.flexslider img.sp {/*画像コーディング*/
	display: none;
}
#main_slide .flex-control-nav{
	bottom: 10px;
}
#main_slide .flex-direction-nav a{
	width: 25px;
	height: 25px;
	margin: -12px 0 0;
}
#main_slide .flex-direction-nav a:before{
	content: url('images/main_slide/arrow_left.png');
}
#main_slide .flex-direction-nav a.flex-next:before{
	content: url('images/main_slide/arrow_right.png');
}
#main_slide .flex-direction-nav a:before {
	font-size: 25px;
	line-height: 1;
}
#main_slide .flex-control-paging li a {
	background: #9FA0A0;
}
#main_slide .flex-control-paging li a.flex-active {
	background: #00A6B6;
}
#main_slide .slide_inner {
	position: relative;
}
#main_slide .slide_inner .content_wrapper {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	max-height: 780px;
	padding: 0 20px;
}
#main_slide .slide_inner .img.img01 img {
/*	margin-top: -8%;*/
}
#main_slide .slide_inner .img.img01 img.sp {
	display: none;
}
#main_slide .slide_inner .content.caption1 {
	padding: 15px 40px;
	color: #00A6B6;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	background-color: rgba(255,255,255,0.7);
	border: 8px solid #00A6B6;
}
#main_slide .slide_inner .content.caption1.imgtxt {
	margin-left: -50%;
	text-align: left;
}
#slide_logo{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -114px;
	margin-left: -135px;
	z-index: 9999;
}
@media screen and ( min-width:1900px ) {
	#main_slide .slide_inner .img.img01 img {
		margin-top: -8%;
	}
}
@media screen and ( min-width:30em ) and ( max-width:60em ){
	#main_slide .slide_inner .content.caption1.imgtxt {
		display: none;
	}
}
@media screen and ( max-width:30em ){
	#main_slide .slide_inner .img .pc {
		display: none;
	}
	#main_slide.flexslider img.pc {/*画像コーディング*/
		display: none;
	}
	#main_slide.flexslider img.sp {/*画像コーディング*/
		display: block;
	}
	#main_slide.flexslider {
		overflow: visible;
	}
	#main_slide .slide_inner .content_wrapper {
		padding: 0 4vw;
	}
	#main_slide .slide_inner .content.caption1 {
		margin: 10vw;
		padding: 3vw 7vw;
		font-size: 7vw;
		line-height: 1.5;
		border: 4px solid #00A6B6;
	}
	#main_slide .slide_inner .content.caption1.imgtxt {
		margin-left: auto;
		margin: 0 auto;
		margin-top: -40%;
		text-align: center;
	}
	#main_slide .slide_inner {
		overflow: hidden;
	}
	#main_slide .slide_inner .img {
		width: 200%;
		margin-left: -50%;
	}
	#main_slide .slide_inner .img.img01 img {
		margin-top: 0;
	}
	#main_slide .slide_inner .img.img01 img.sp {
		display: block;
	}
	#main_slide .flex-control-nav {
		bottom: -40px;
	}
}

#top_border{
	position: absolute;
	top: 5px;
	left: 0;
	width: 100%;
	height: 2px;
	z-index: 9999;
	background: url('images/main_slide/border.png') repeat-x;
}
#front_bnr{
	display: flex;
	margin-bottom: 50px;
}
#front_bnr li{
/*	width: 33.333332%;3枚*/
	width: 50%;/*2枚*/
	overflow: hidden;
}
#front_bnr li p{
	letter-spacing: 0;
}
#front_bnr li .img_box{
	max-height: 625px;
	margin-bottom: 5px;
	overflow: hidden;
}
#front_bnr li .img_box .img{
	display: block;
	width: 200%;
	height: 100vh;
	margin: 0 -50%;
	text-align: center;
}
#front_bnr li .content{
	margin-bottom: 30px;
	text-align: center;
}
#front_bnr li .content h2{
	margin-bottom: 15px;
}
#front_bnr li .content h2 .ttl{
	display: block;
	color: #00A6B6;
	font-size: 30px;
}
#front_bnr li .content h2 .font_en{
	color: #AE8042;
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
}
#front_bnr li .content .sub{
	font-size: 16px;
	line-height: 1.5;
}

@media screen and ( min-width:1280px ){
	#front_bnr{
		width: 1280px;/*2枚*/
	}
}
@media screen and ( max-width:60em ){
	#front_bnr {
		flex-wrap: wrap;
	}
	#front_bnr li {
		width: 100%;
		margin-bottom: 18vw;
	}
	#front_bnr li .img_box .img {
		width: 100%;
		margin: 0;
	}
	#front_bnr li .img_box .img img {
		width: 100%;
	}
	#front_bnr li .content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -30vw;
		margin-bottom: 0;
	}
	#front_bnr li .content .content_inner {
		width: 100%;
		margin: 0 9vw;
		padding: 4vw;
		background-color: rgba(255,255,255,0.9);
	}
	#front_bnr li .content .sub {
		margin-bottom: 2vw;
		word-break: break-all;
	}
}

@media screen and ( max-width:30em ){
	#front_bnr li .img_box {
		max-height: 100vw;
		margin-bottom: 4vw;
	}
	#front_bnr li .content h2 {
		margin-bottom: 1vw;
		padding-top: 2vw;
	}
	#front_bnr li .content h2 .ttl {
		font-size: 6vw;
		line-height: 1;
	}
	#front_bnr li .content h2 .font_en {
		font-size: 3vw;
	}
	#front_bnr li .content .sub {
		margin-bottom: 0;
		font-size: 3.8vw;
		line-height: 1.5;
		word-break: break-all;
	}
}

.link {
	text-align: center;
}
.link .btn {
	display: inline-block;
	padding: 14px 60px;
	text-align: center;
	font-size: 22px;
	border-radius: 100px;
}
.link .btn.btn_more {
	padding: 10px 70px;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #000000;
}
.link .btn.btn_ichiran {
	position: relative;
	padding: 10px 40px 10px 30px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #000000;
}
.link .btn.btn_ichiran:after {
	content: '';
	width: 10px;
	height: 10px;
	border: 0px;
	border-top: solid 2px #000000;
	border-right: solid 2px #000000;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	right: 25px;
	margin-top: -5px;
}
.link .btn:hover{
	opacity: 1;
	color: #ffffff;
	background: #00a3ad;
}
.link .btn.btn_more:hover {
	border: 1px solid #00a3ad;
}
.link .btn.btn_ichiran:hover {
	border: 1px solid #00a3ad;
}
.link .btn.btn_ichiran:hover:after {
	border-top: solid 2px #ffffff;
	border-right: solid 2px #ffffff;
}

/* topics */
#front_topics{
	max-width: 1100px;
	margin: 0 auto;
	margin-bottom: 100px;
}
#front_topics h2{
	text-align: center;
	margin-bottom: 20px;
}
#front_topics h2 .font_en{
	color: #00A6B6;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
}
#front_topics #topics_inner{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;

}
#front_topics #topics_inner a{
	display: block;
	width: 33.33332%;
}
#topics_inner .img_box{
/*	height: 366px;*/
	overflow: hidden;
	background-color: #B8B8B8;
}
#topics_inner .img_box .img{
/*	display: flex;
	justify-content: center;
	align-items: center;
*/
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#front_topics .img_box .img img{
	max-width: 100%;
/*	height: auto;*/
	width: 100%;
/*	height: 366px;*/
	object-fit: cover;
}
#front_topics .topics_box .topics_content_box{
	padding: 10px;
}
#front_topics .topics_box .topics_icon{
	display: flex;
}
#front_topics .topics_box .topics_icon p{
	margin: 0;
	margin-right: 10px;
	font-size: 14px;
	font-weight: bold;
}
#front_topics .topics_box .topics_icon .recommend{
	color: #A02134;
}
#front_topics .topics_box .topics_icon .new{
	color: #AE8042;
}
#front_topics .topics_box .topics_date p{
	margin: 0;
	font-size: 14px;
}
#front_topics .topics_box .topics_date p.topics_cat{
	width: 90px;
	height: 30px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background: url('images/front/bg_cat.png');
}

.topics_content{
	overflow: hidden;
}
#front_topics .topics_box h3{
	overflow: hidden;
	margin: 0;
	font-size: 15px;
	font-weight: bold;
	text-overflow: ellipsis;
}
.topics_content p{
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media screen and (min-width: 30em) and (max-width: 1100px) {
/*	#topics_inner .img_box {
		height: 120px;
	}*/
}
@media screen and (min-width: 30em) and (max-width: 60em) {
	#front_topics #topics_inner {
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 30em) {
	#front_topics {
		position: relative;
		margin-bottom: 12vw;
		padding: 0 4vw;
	}
	#front_topics h2 {
		margin-bottom: 6vw;
		text-align: left;
	}
	#front_topics #topics_inner {
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	#front_topics #topics_inner a {
		width: 100%;
		margin-bottom: 8vw;
	}
	#front_topics #topics_inner a .topics_box {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 30vw;
	}
	#front_topics #topics_inner a .topics_box:after {
		content: '';
		width: 6px;
		height: 6px;
		border: 0px;
		border-top: solid 2px #000000;
		border-right: solid 2px #000000;
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -3px;
	}
	#topics_inner .topics_box .img_box {
		width: 40%;
/*		height: auto;*/
		max-height: 36vw;
	}
	#front_topics .topics_box .topics_content_box {
		width: 60%;
		padding: 0 3vw;
	}
	#front_topics .img_box .img img {
		max-height: 36vw;
	}
	#front_topics .topics_box .topics_date p {
		font-size: 3.7vw;
	}
	#front_topics .topics_box h3 {
		font-size: 3.7vw;
	}
	#front_topics .link {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 3vw;
	}
	#front_topics .link .btn.btn_ichiran {
		font-size: 3vw;
		border-radius: 0;
		padding: 1vw 5vw 1vw 3vw;
	}
	.link .btn.btn_ichiran:after {
		width: 5px;
		height: 5px;
		right: 2vw;
		margin-top: -1vw;
	}
}

#topics_more{
	width: 608px;
	height: 30px;
	background: url('images/front/btn_more_l.png');
}
#front_access{
	position: relative;
	float: right;
	width: 316px;
	height: 409px;
	background: url('images/front/photo_bk.png') no-repeat;
}
#front_access h2{
	padding-top: 10px;
	text-align: center;
	color: #1b5457;
	font-size: 20px;
}
#access_inner{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(255,255,255,.75);
}
#access_inner h3{
	padding: 10px 10px 5px;
	font-size: 28px;
	background: url('images/front/border.png') repeat-x bottom left;
}
#access_inner h3 span{
	padding: 10px;
	font-size: 13px;
}
#access_inner p{
	margin: 0;
	padding: 0 10px 10px;
}
#access_inner p span,
#access_inner p span a{
	color: #00949d;
	font-size: 30px;
	line-height: 1;
}
#access_inner p span i{
	vertical-align: middle;
}
#access_more{
	float: right;
	width: 106px;
	height: 30px;
	background: url('images/front/btn_more.png') no-repeat;
}
#front_bottomImg{
	margin: 50px 0 0;
}
#front_bottomImg img{
	width: 100%;
}

/* black link */
#front_link .photo-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
	background-color: #000000;
}
#front_link .photo-wrapper .img {
	position: relative;
	width: 33.33332%;
	max-height: 625px;
	overflow: hidden;
}
#front_link .photo-wrapper .img a {
	display: block;
}
#front_link .photo-wrapper .img .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 131px;
	margin-top: -65px;
	margin-left: -65px;
}
/*#front_link .photo-wrapper .img.top {
	width: 100%;
}*/
#front_link .photo-wrapper .img .img-inner {
	position: relative;
	width: 200%;
	height: 100vh;
	margin: 0 -50%;
	text-align: center;
}

/* black link under */
/*#front_link .photo-wrapper .img.left, #front_link .photo-wrapper .img.right {
	width: 50%;
}*/

/* Instagram */
#front_insta {
}
#front_insta .logo {
	width: 108px;
	height: 124px;
	margin: 0 auto;
	margin-bottom: 30px;
}
#front_insta .logo img {
	width: 100%;
}
#front_insta .widget .column-4,
#front_insta .widget .column-2 {
	display: none;
}

/* under link access */
#front_etc .etc_box {
	max-width: 1100px;
	margin: 0 auto;
	background-color: #00A6B6;
}
#front_etc .etc_box a {
	display: flex;
	align-items: center;
}
#front_etc .etc_box a:hover {
	color: #000000;
}
#front_etc .etc_box .etc_content {
	width: 100%;
	text-align: center;
}
#front_etc .etc_box .etc_content .font_en {
	color: #ffffff;
	font-size: 30px;
	line-height: 1.3;
}
#front_etc .etc_box .etc_content .sub {
	color: #ffffff;
}
#front_etc .etc_box .etc_content img {
	width: 20%;
}

@media screen and ( max-width:60em ){
	#front_insta .widget .column-7 {
		display: none;
	}
	#front_insta .widget .column-4 {
		display: block;
	}
}
@media screen and ( min-width:30em ) and ( max-width:60em ){
	#front_etc .etc_box .etc_img {
		width: 50%;
	}
	#front_etc .etc_box .etc_img img {
		width: 100%;
	}
	#front_etc .etc_box .etc_content {
		width: 50%;
	}
}
@media screen and ( max-width:30em ){
	#front_insta .widget .column-4 {
		display: none;
	}
	#front_insta .widget .column-2 {
		display: block;
	}
	#front_insta .logo {
		width: 20%;
		height: auto;
		margin-bottom: 4vw;
	}
	#front_etc .etc_box a {
		flex-wrap: wrap;
	}
	#front_etc .etc_box .etc_img img {
		width: 100%;
	}
	#front_etc .etc_box .etc_content {
		padding: 20vw 4vw;
	}
	#front_etc .etc_box .etc_content img {
		width: 18%;
	}
	#front_etc .etc_box .etc_content .sub {
		margin-top: 2vw;
		font-size: 5vw;
	}
}

/* margin */
#front_bnr, #front_link, #front_insta, #front_etc{
	margin-bottom: 175px;
}

@media screen and (max-width: 60em) {
	#front_link .photo-wrapper .img {
		width: 100%;
	}
/*	#front_link .photo-wrapper .img.left, #front_link .photo-wrapper .img.right {
		width: 100%;
	}*/
	#front_link .photo-wrapper .img .img-inner {
		width: 100%;
		height: auto;
		margin: 0;
		line-height: 0;
	}
}
@media screen and (min-width: 30em) and (max-width: 60em) {
	#front_link .photo-wrapper .img {
		max-height: 300px;
	}
}
@media screen and (max-width: 30em) {
	#front_link, #front_insta, #front_etc {
		margin-bottom: 30vw;
	}
	#front_bnr {
		margin-bottom: 10vw;
	}
}

/*--------------------------------------------------------------
 =Common
-------------------------------------------------------------- */

.header_title{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	padding: 120px 0;
	z-index: 5;
}
.header_title h1{
	margin: 0;
	margin-top: 110px;
	text-align: center;
	color: #fff;
	font-size: 16px;
}
.header_title h1 .font_en{
	display: block;
	font-size: 45px;
	letter-spacing: 2px;
	line-height: 1;
}
.breadcrumbs {
	float: right;
	margin-bottom: 20px;
}

@media screen and (max-width: 60em) {
	.header_title{
		padding: 70px 0;
	}
	.breadcrumbs {
		margin: 0 20px 20px;
	}
}
@media screen and (max-width: 30em) {
	.header_title{
		margin-bottom: 8vw;
		padding: 16vw 0;
	}
	.header_title h1{
		margin-top: 12vw;
		font-size: 2vw;
	}
	.header_title h1 .font_en{
		font-size: 7vw;
		font-weight: bold;
		line-height: 1.1;
	}
	.breadcrumbs {
		display: none;
		margin: 0 4vw 4vw;
	}
}

/*--------------------------------------------------------------
 =Menu
-------------------------------------------------------------- */

#menu_title{
	background: url('images/menu/header_img.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.menu_navigation_list li{
	text-align: center;
	line-height: 1.5;
	position: relative;
}
.menu_navigation_list li:after{
	content: '';
	position: absolute;
	top: 20px;
	right: -1px;
	width: 1.2px;
	height: 20px;
	background: #fff;
}
.menu_navigation_list li.last:after{
	content: none;
}
.menu_navigation_list li a{
	display: block;
	padding: 16px 10px;
	color: #00a3ad;
	font-size: 16px;
	border: 1px solid #00a3ad;
	border-radius: 100px;
	white-space: nowrap;
}
.menu_navigation_list li a:hover{
	opacity: 1;
	color: #ffffff;
	background: #00a3ad;
}
.menu_navigation_list li a span{
	display: block;
}
#menu_navTop{
	margin-bottom: 100px;
}
#menu_navTop ul{
	display: flex;
	justify-content: center;
	margin: 0 -10px;
}
#menu_navTop li{
	width: 25%;
	padding: 0 10px;
}
#menu_navTop li a span{
	font-size: 25px;
}
#menu_navBottom{
	margin-bottom: 50px;
}
#menu_navBottom .wrapper{
	width: 800px;
}
#menu_navBottom li{
	padding: 0 28px;
}
#nav_bottom li{
	padding: 0 36px;
}
#menu_navBottom li:after{
	background: #cbc4ad;
}
#menu_navBottom li a span{
	font-size: 20px;
}
#nav_top{
	margin-bottom: 10px;
	padding-bottom: 20px;
	background: url('images/front/border.png') repeat-x bottom left;
}
h4.ttlSub{
	text-align: center;
	font-size: 17px;
}
h4.ttlSub .big{
	font-size: 28px;
}
.menu_box{
	padding: 0 15px;
}
.menu_box h1{
	margin-bottom: 30px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 25px;
	font-family: 'EB Garamond', serif;
	font-style: italic;
	background: url('images/front/border.png') repeat-x bottom left;
}
.menu_box h1 span{
	display: block;
	font-size: 15px;
	font-style: normal;
}
.menu_box .menu_photo{
	float: right;
	width: 260px;
}
.menu_box .menu_photo p.photo_caption{
	text-align: right;
	font-size: 14px;
}
.menu_box dt.menu_cat{
	width: 510px;
	margin-top: 20px;
	color: #00a3ad;
}
.menu_box dt span{
	display: block;
	color: #3d2e15;
	font-size: 13px;
}
.menu_box p.page_top{
	text-align: center;
	font-size: 15px;
}
.menu_box p.page_top a{
	color: #00a3ad;
}
.menu_box p.page_top a:hover{
	color: #bbb856;
}
#menu_drink dt,
#menu_drink dd,
#menu_pasta dt,
#menu_pasta dd,
#menu_dessert dt,
#menu_dessert dd,
.menu_box .pd_none{
	padding: 0;
}
#menu_dessert dt.menu_cat{
	display: inline-block;
	width: 300px
}
#menu_dessert dd.cat_price{
	display: inline-block;
	width: 200px;
	vertical-align: bottom;
}
#menu_party{
	text-align: center;
}
#menu_party p{
	font-size: 17px;
}
#menu_party p.page_top{
	margin-top: 30px; 
}
.menu_box_wrapper {
	display: flex;
	margin: 0 -15px;
	margin-bottom: 50px;
}
.menu_box_wrapper.last {
	margin-bottom: 20px;
}
.menu_renew{
	width: 50%;
	position: relative;
}
.table-column-1 .menu_renew{
	width: 100%;
}
.menu_renew img.plate_reserve{
	position: absolute;
	top: 15px;
	right: 15px;
}
.menu_renew img.plate_sp{
	position: absolute;
	top: -5px;
	left: 15px;
}
.menu_renew .icon_special {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -20px;
	left: 0;
	color: #ffffff;
}
.ico-2 .menu_renew .icon_special {
	top: -50px;
	left: -40px;
}
.menu_renew h3.ttl_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 10px 20px;
	color: #ffffff;
	background-color: #00a3ad;
}
.table-column-1:not(#menu_steak) .menu_renew h3.ttl_wrapper {
	justify-content: space-around;
}
.menu_renew h3.ttl_wrapper .ttl{
	text-align: left;
	font-size: 24px;
}
#menu_yakiniku .menu_renew h3.ttl_wrapper .ttl{
	font-size: 22px;
}
.menu_renew.menu_special h3.ttl_wrapper .ttl{
	margin-left: 70px;
}
.ico-2 .menu_renew.menu_special h3.ttl_wrapper .ttl{
	margin-left: 220px;
}
.ico-2 .menu_renew.menu_special h3.ttl_wrapper .ttl .ls{
	letter-spacing: -5px;
}
.menu_renew h3.ttl_wrapper .sub{
	display: inline-block;
	margin-left: auto;
	margin-right: 10px;
	font-size: 14px;
}
.menu_renew h3.ttl_wrapper .noreserve{
	display: inline-block;
	padding: 6px 10px;
	font-size: 16px;
	border: 1px solid #ffffff;
}
.menu_renew h3.ttl_wrapper .okreserve{
	background-color: #AE8042;
	border: none;
}
.menu_renew h3 span.sp_comment{
	color: #e24466;
	font-size: 16px;
}
.menu_liner {
	display: flex;
}
.menu_liner .menu_sub_box {
	width: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	border: 3px dashed #00a3ad;
}
.menu_liner .menu_sub_box h3 {
	width: 100%;
	color: #00a3ad;
	font-size: 24px;
}
.menu_price_box {
	display: flex;
	margin-bottom: 10px;
}
.table-column-1 .menu_price_box {
	justify-content: center;
}
.menu_price_box dt{
	margin-right: 15px;
	text-align: center;
}
.menu_price_box dt .ttl{
	white-space: nowrap;
	padding: 2px 15px;
	color: #00a3ad;
	font-size: 16px;
	background-color: #C8DFE3;
}
.menu_price_box dd{
	display: flex;
	align-items: center;
}
.menu_price_box dd .price{
	margin-right: 10px;
	font-size: 17px;
}
.menu_sub_box {
	display: flex;
	padding: 10px;
	border: 1px solid #00a3ad;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.menu_sub_box_innner {
	display: block;
	align-items: center;
	justify-content: center;
}
.menu_sub_box_innner .list {
	margin: 0 10px;
	font-size: 18px;
}
.menu_sub_box .attention {
	text-align: center;
}
.menu_renew .ttl_time{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.menu_renew .ttl_time .icon_time{
	margin-right: 10px;
	line-height: 0;
}
.menu_renew .ttl_time .ttl{
	color: #00a3ad;
	font-size: 40px;
	font-weight: bold;
	line-height: 2;
}
.menu_renew p{
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -1px;
}

@media screen and (min-width: 60em) {
	.table-column-1 .attention{
		text-align: center;
	}
}

@media screen and (min-width: 60em) and (max-width: 1090px) {
	.menu_renew h3.ttl_wrapper .ttl{
		font-size: 2vw;
	}
	.menu_renew.menu_special h3.ttl_wrapper .ttl{
		margin-left: 70px;
	}
	.menu_renew h3.ttl_wrapper .sub{
		font-size: 1.1vw;
	}
	.menu_renew h3.ttl_wrapper .noreserve{
		font-size: 1.3vw;
	}
	.menu_renew h3 span.sp_comment{
		font-size: 16px;
	}
	.menu_price_box dt{
		margin-right: 1.5vw;
	}
	.menu_price_box dt .ttl{
		padding: 0.2vw 1.5vw;
		font-size: 1.3vw;
	}
	.menu_price_box dd .price{
		margin-right: 1.5vw;
		font-size: 1.3vw;
	}
	.menu_sub_box .list {
		font-size: 18px;
	}
	.menu_renew p{
		font-size: 1vw;
	}
}
@media screen and (max-width: 65em) {
	.menu_renew h3.ttl_wrapper {
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 60em) {
	.menu_box_wrapper {
		flex-wrap: wrap;
	}
	.menu_renew {
		width: 100%;
	}
	.menu_sub_box {
		flex-direction: column;
		padding: 10px 5%;
	}
	.menu_sub_box_innner {
		flex-wrap: wrap;
	}
	.menu_sub_box .list {
		display: flex;
		width: 100%;
		margin: 0;
		justify-content: space-between;
	}
	#menu_navTop ul {
		flex-wrap: wrap;
		margin: 0 10px;
	}
	#menu_navTop li {
		width: 50%;
		padding: 10px;
	}
	.menu_renew {
		margin-bottom: 40px;
	}
}

@media screen and (min-width: 30em) and (max-width: 60em) {
	.menu_price_box {
		justify-content: center;
	}
	.ico-2 .menu_renew .icon_special {
		top: -20px;
		left: 0;
		width: 200px;
	}
	.ico-2 .menu_renew .icon_special img {
		width: 50%;
	}
	.ico-2 .menu_renew.menu_special h3.ttl_wrapper .ttl{
		margin-left: 180px;
	}
}
@media screen and (max-width: 30em) {
	#menu_navTop{
		margin-bottom: 10vw;
	}
	#menu_navTop ul {
		margin: 0 2vw;
	}
	#menu_navTop li {
		padding: 1.5vw 2vw;
	}
	.menu_navigation_list li a {
		padding: 2.5vw 2vw;
		font-size: 3.5vw;
	}
	.menu_box_wrapper {
		margin: 0;
		margin-bottom: 0;
		padding: 0;
	}
	.menu_renew h3.ttl_wrapper {
		margin-bottom: 4vw;
		padding: 2vw 4vw;
	}
	#menu_dinner .menu_renew h3.ttl_wrapper {
		margin-bottom: 4vw;
		padding: 2vw;
	}
	.menu_renew h3.ttl_wrapper .ttl{
		font-size: 5vw;
	}
	#menu_yakiniku .menu_renew h3.ttl_wrapper .ttl{
		font-size: 4vw;
	}
	#menu_dinner .menu_renew h3.ttl_wrapper .ttl{
		font-size: 5vw;
	}
	.menu_renew {
		margin-bottom: 6vw;
		padding: 0 4vw;
	}
	.menu_renew.menu_special h3.ttl_wrapper .ttl{
		margin-left: 6vw;
	}
	.ico-2 .menu_renew.menu_special h3.ttl_wrapper .ttl{
		margin-left: 0;
		font-size: 5vw;
	}
	.menu_renew h3.ttl_wrapper .sub{
		font-size: 8px;
		margin-right: 1vw;
	}
	.menu_renew h3.ttl_wrapper .noreserve{
		font-size: 8px;
		padding: 1vw 2vw;
	}
	#menu_steak .menu_renew h3.ttl_wrapper {
		position: relative;
	}
	#menu_steak .menu_renew h3.ttl_wrapper .noreserve{
		position: absolute;
		top: 2vw;
		right: 3vw;
	}
	.menu_renew h3 span.sp_comment{
		font-size: 16px;
	}
	.menu_price_box {
		margin-bottom: 2vw;
	}
	.menu_price_box dt{
		margin-right: 1.5vw;
	}
	.menu_price_box dt .ttl{
		padding: 0.2vw 1.5vw;
		font-size: 3.5vw;
	}
	.menu_price_box dd{
		flex-wrap: wrap;
	}
	.menu_price_box dd .price{
		margin-right: 1.5vw;
		font-size: 3.5vw;
	}
	.menu_sub_box_innner {
		margin-bottom: 2vw;
	}
	.menu_sub_box .attention {
		text-align: left;
	}
	.menu_sub_box .list {
		width: 100%;
/*		padding: 0 10vw;*/
		font-size: 4vw;
	}
	.menu_renew p{
		font-size: 4vw;
		line-height: 1.5;
		text-align: left;
	}
	.menu_renew .menu_inner p{
		font-size: 3vw;
	}
	.menu_renew .icon_special {
		width: 12vw;
		top: -4vw;
		left: 1vw;
	}
	.ico-2 .menu_renew .icon_special {
		width: 30vw;
		top: -98vw;
		left: 16vw;
	}
	.menu_renew .icon_special img {
		width: 100%;
	}
	.menu_renew .icon_special img.multi {
		margin-left: -2vw;
	}
	.menu_sub_box, .menu_border {
		margin: 0 4vw;
		margin-bottom: 4vw;
		padding: 6vw;
	}
	.menu_renew .ttl_time .ttl{
		font-size: 12vw;
	}
	.menu_renew .ttl_time .icon_time {
		margin-right: 3vw;
	}
	h4.ttlSub{
		padding: 0 4vw;
		font-size: 4vw;
	}
	h4.ttlSub .big{
		font-size: 6vw;
	}
	.menu_liner .menu_sub_box {
		margin: 0;
	}
}
@media screen and (max-width: 20em) {/* iPhone5 */
	.menu_price_box {
		flex-wrap: wrap;
		margin-bottom: 4vw;
	}
	.menu_price_box dt {
		width: 100%;
	}
	.menu_price_box dd .price {
		font-size: 4vw;
	}
	#menu_dinner .menu_renew h3.ttl_wrapper .ttl{
		font-size: 4vw;
	}
}

.menu_drink{
	font-size: 22px;
	text-align: center;
	border: #867f2b solid 1px;
	background: #fff;
	padding: 5px 0;
	margin-top: 40px;
	margin-bottom: 80px;
}
.menu_drink span{
	font-size: 16px;
}
#page_menu #menu_party .menu_border {
	padding: 40px;
	border: 4px solid #00a3ad;
}
#page_menu h2{
	text-align: center;
	margin-bottom: 16px;
}
#page_menu h2.heading_menu{
	overflow: hidden;
}
#page_menu h2.heading_menu .line{
	position: relative;
	display: inline-block;
	padding: 0 20px;
	color: #00a3ad;
	font-size: 35px;
	line-height: 1;
}
#page_menu #menu_party h2 .font_l{
	display: block;
	color: #00a3ad;
	font-size: 35px;
}
#page_menu #menu_party h2 .font_s{
	display: block;
	color: #00a3ad;
	font-size: 25px;
	line-height: 1;
}
#page_menu h2.heading_menu .line:before,
#page_menu h2.heading_menu .line:after{
	content:'';
	position: absolute;
	display: block;
	width: 100vw;
	height: 8px;
	top:50%;
	transform: translateY(-50%);
	background-image: url('images/menu/ttl_line.svg');
	background-repeat: no-repeat;
}
@media all and (-ms-high-contrast: none) {
	#page_menu h2.heading_menu .line:before,
	#page_menu h2.heading_menu .line:after{
		width: 240px;
	}
}
#page_menu h2.heading_menu .line:before {
	left: 100%;
	background-position: left center;
}
#page_menu h2.heading_menu .line:after {
	right: 100%;
	background-position: right center;
}
#page_menu h2.heading_menu .font_en{
	display: block;
	margin-top: 8px;
	color: #AE8042;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
}
.menu_container{
	margin-bottom: 190px;
}
.menu_container:last-child{
	margin-bottom: 160px;
}
.menu_container > p{
	margin-bottom: 10px;
	line-height: 1.2;
}
.menu_photo{
	margin-bottom: 25px;
}
.menu_photo h3{
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
	line-height: 1.4;
}
#menu_party .menu_photo h3{
	font-size: 16px;
}
.menu_img{
	margin-bottom: 50px;
}
.menu_img img{
	disaplay: block;
	margin-bottom: 30px;
}
#page_menu .photo-wrapper {
	overflow: hidden;
	display: flex;
	justify-content: center;
	max-height: 550px;
}
#page_menu .photo-wrapper .img {
	overflow: hidden;
}
#page_menu .photo-wrapper .img.left {
	max-width: 620px;
}
#page_menu .photo-wrapper .img.right {
	max-width: 480px;
}
#page_menu .photo-wrapper .img .img-inner {
	width: 200%;
	height: 100vh;
	margin: 0 -50%;
	text-align: center;
}
.people_box_wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.people_box_wrapper span {
	color: #00a3ad;
	font-weight: bold;
}
.people_box_wrapper .icon {
	width: 98px;
	margin-right: 10px;
}
.people_box_wrapper .icon img {
	width: 100%;
}
.people_box_wrapper .ttl_sub {
	margin: 0 25px;
	font-size: 27px;
	line-height: 1.4;
}
.people_box_wrapper .number {
	font-size: 106px;
	line-height: 1;
	transform: scale(1.2, 1);
}
/* column-1 */
#page_menu .photo-column-1 .photo-wrapper .img.left {
	max-width: 100%;
}
#page_menu .photo-column-1 .photo-wrapper .img.right {
	display: none;
}

/* column-2 */
#page_menu .photo-column-2 .photo-wrapper .img.left, #page_menu .photo-column-2 .photo-wrapper .img.right {
	max-width: 550px;
}

@media screen and (max-width: 60em) {
	.photo-wrapper img {
		width: 100%;
	}
	#page_menu .photo-wrapper .img.left, #page_menu .photo-wrapper .img.right {
		max-width: none;
	}
	#page_menu .photo-wrapper .img .img-inner {
		width: 100%;
		height: auto;
		margin: 0;
		line-height: 0;
	}
	.menu_container{
		margin-bottom: 20vw;
	}
	.menu_container:last-child{
		margin-bottom: 12vw;
	}
}
@media screen and (max-width: 30em) {
	.menu_container h3 {
		padding: 0 4vw;
	}
	.menu_container > p{
		margin: 0 4vw;
		margin-bottom: 4vw;
	}
	#page_menu h2.heading_menu .line {
		position: relative;
		margin-bottom: 4vw;
		padding: 0 4vw;
		font-size: 7vw;
	}
	#page_menu #menu_party h2.heading_menu .line {
		margin-bottom: 2vw;
	}
	#page_menu h2.heading_menu .line:after {
		display: none;
	}
	#page_menu h2.heading_menu .line:before {
		top: auto;
		left: 50%;
		bottom: -5vw;
		transform: translateX(-50%);
		background-position: center;
	}
	#page_menu #menu_party h2.heading_menu .line:before {
		top: 300%;
	}
	#page_menu h2.heading_menu .font_en {
		font-size: 4vw;
	}
	#page_menu #menu_party h2.heading_menu .font_en {
		margin-top: 10vw;
	}
	.menu_photo {
		margin-bottom: 6vw;
	}
	.menu_photo h3 {
		margin-bottom: 4vw;
		font-size: 4.5vw;
		line-height: 1.3;
	}
	.photo-wrapper {
		flex-wrap: wrap;
		max-height: none;
	}
	#page_menu .photo-wrapper {
		max-height: none;
	}
	#page_menu #menu_party .menu_border {
		padding: 6vw;
		border: 1px solid #00a3ad;
	}
	#page_menu h2 {
		margin-bottom: 6vw;
	}
	#page_menu #menu_party h2 .font_l{
		font-size: 8vw;
	}
	#page_menu #menu_party h2 .font_s{
		font-size: 6vw;
	}
	#page_menu #menu_party h3{
/*		font-size: 4vw;*/
		line-height: 1.3;
	}
.people_box_wrapper .icon {
	width: 21vw;
	margin-right: 3vw;
}
.people_box_wrapper .icon img {
	width: 100%;
}
.people_box_wrapper .ttl_sub {
	margin: 0 2vw;
	font-size: 5.5vw;
}
.people_box_wrapper .number {
	font-size: 24vw;
	transform: scale(1, 1);
}
	#page_menu #menu_party.photo-column-1 .photo-wrapper .img.left {
		display: none;
	}
	#page_menu #menu_party.photo-column-1 .photo-wrapper .img.right {
		display: block;
	}
}

/*--------------------------------------------------------------
 =Space
-------------------------------------------------------------- */

#space_title{
	background: url('images/staff/header_img.png') no-repeat;
	background-size: cover;
}
#page_space p{
	font-family: "Georgia","Hiragino Mincho ProN","游明朝",YuMincho,"HG明朝E",Meiryo;
	font-size: 16px;
	line-height: 2.2;
}
#space_intro{
	margin-bottom: 50px;
}
#intro_left{
	float: left;
	text-align: center;
}
#intro_left p{
	font-size: 20px;
	margin: 20px 0;
}
img#intro_right{
	display: block;
	float: right;
	margin-top: 50px;
	margin-right: -25px;
}
#floor_1{
	margin-bottom: 30px;
}
#img_section1{
	position: relative;
	margin-bottom: 10px;
}
#img_section1 p{
	margin-bottom: 50px;
}
#img1_1{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}
#img_section2 p{
	float: left;
	margin-top: 100px;
}
#sec2_right{
	float: right;
	width: 610px;
}
#img1_4{
	float: right;
}
#img1_7{
	float: right;
}

/*--------------------------------------------------------------
 =Access
-------------------------------------------------------------- */
#page_access{
	max-width: 1100px;
	margin: 0 auto;
}
#access_title{
	background: url('images/access/header_img.png') no-repeat;
	background-size: cover;
}
#page_access #access_intro{
	width: 100%;
	margin-bottom: 40px;
	padding: 30px 0;
	color: #00A6B6;
	text-align: center;
	line-height: 1.3;
	border-top: #00A6B6 1px solid;
	border-bottom: #00A6B6 1px solid;
}
#page_access #access_intro .txt{
	display: block;
	font-size: 20px;
}
#page_access #access_intro .tel{
	font-size: 65px;
	line-height: 1;
}
#acces_info{
	display: flex;
	margin-bottom: 40px;
}
#acces_info .acces_L img{
	width: 442px;
}
#acces_info .acces_R{
	padding-left: 40px;
	font-size: 18px;
}
#acces_info .acces_R .font_s{
	font-size: 16px;
}
#acces_info .acces_R dl{
	display: flex;
	margin-bottom: 15px;
}
#acces_info .acces_R dt{
	width: 76px;
	margin-right: 45px;
	word-break: keep-all;
}
#access_intro img#intro_photo{
	float: left;
	margin-right: 40px;
}
#access_intro #access_right{
	overflow: hidden;
	margin-top: 20px;
}
#access_intro #access_right p{
	margin: 0;
}
#access_right #shop_info{
	padding-bottom: 15px;
	background: #efede6;
}
#access_intro #access_right p{
	padding-left: 30px;
}
#access_right p#shop_address{
	margin: 10px 0 20px 50px;
}
#access_intro #access_right p.font_mincyo{
	margin-bottom: 10px;
	padding: 20px 30px 10px;
	font-size: 16px;
	background: url('images/front/border.png') repeat-x bottom left;
}
#access_right #shop_info p.font_en,
#access_right #shop_info p.font_en a{
	margin-bottom: 5px;
	color: #0e959e;
	font-size: 30px;
	line-height: 1;
}
#access_right #shop_info p.font_en i{
	vertical-align: middle;
}

@media screen and (min-width: 60em) and (max-width: 1100px) {
	#acces_info {
		padding: 20px;
	}
}
@media screen and ( max-width:60em) {
	#access_intro{
		display: none;
	}
	#acces_info{
		display: block;
		margin-bottom: 58px;
	}
	#acces_info .acces_L{
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
		text-align: center;
	}
	#acces_info .acces_L img{
		width: 100%;
	}
	#acces_info .acces_R{
		width: 100%;
		margin: 0 auto;
	}
}
@media screen and ( min-width: 30em) and ( max-width:60em) {
	#acces_info .acces_R {
		display: flex;
		justify-content: center;
	}
}
@media screen and ( max-width:30em) {
	#acces_info .acces_R dt{
		margin-right: 30px;
	}
}
@media screen and ( max-width: 30em) {
	#acces_info {
		display: block;
		margin-bottom: 5vw;
	}
	#acces_info .acces_L{
		padding: 0 4vw;
	}
	#acces_info .acces_R{
		padding: 0 4vw;
		font-size: 3.6vw;
	}
	#acces_info .acces_R .font_s{
		font-size: 3.6vw;
	}
	#acces_info .acces_R dl {
		margin-bottom: 6vw;
	}
	#acces_info .acces_R dt{
		width: 20%;
		margin-right: 4vw;
	}
	#acces_info .acces_R dd{
		width: 80%;
		line-height: 1.5;
	}
	#page_access .map iframe{
		height: 67vw;
	}
}
#shop_spec{
	width: 800px;
	margin: 0 auto 60px;
}
#shop_spec dl{
	padding: 15px 0;
	line-height: 2;
	border-bottom: #bfb89c solid 1px;
}
#shop_spec dt{
	display: inline-block;
	width: 100px;
	vertical-align: top;
	font-weight: bold;
}
#shop_spec dd{
	width: 650px;
	display: inline-block;
}
.access_route{
	border-top: #eceae1 solid 1px;
	padding: 50px 0;
}
.access_route h2{
	font-size: 20px;
	color: #19666a
}
.access_route h2 i{
	margin-right: 5px;
}
.access_route dl{
	width: 800px;
	margin: 0 auto;
	padding: 15px 0;
	line-height: 2;
	border-bottom: #bfb89c solid 1px;
}
.access_route dt{
	font-weight: normal;
	font-size: 15px;
}
#access_map{
	width: 100%;
	height: 350px;
	position: relative;
}
#map_outer{
	position: relative;
}
#wave_flame_top{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: url('images/access/bg_wave_top.png') repeat-x;
	z-index: 999;
}
#wave_flame_bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: url('images/access/bg_wave_bottom.png') repeat-x;
	z-index: 999;
}
#shef_comment,
.shef_comment{
	position: relative;
	margin-bottom: 80px;
}
#shef_comment img,
.shef_comment img{
	float: left;
	margin-right: 30px;
}
#shef_inner,
.shef_inner{
	position: absolute;
	top: -30px;
	right: 0;
	width: 730px;
	padding: 50px 50px 50px 100px;
	background: #eef6fa;
	z-index: -1;
}
#shef_inner h2,
.shef_inner h2,
#page_staff h2{
	margin-bottom: 86px;
	text-align: center;
	color: #000000;
	font-size: 30px;
}
#page_staff h2 {
	margin-top: 20px;
}
#shef_comment h3,
.shef_comment h3{
	margin-top: 150px;
	border-bottom: #bfb89c solid 1px;
}
#shef_comment h3 span,
.shef_comment h3 span{
	margin-left: 30px;
	font-size: 25px;
}
.staff_comment {
	display: flex;
	align-items: flex-start;
	margin-bottom: 100px;
}
.staff_comment.large {
	margin-bottom: 150px;
}
.shef_comment:first-child h3{
	margin-top: 280px;
}
#page_staff{
	margin-bottom: 80px;
}
.staff_box{
	float: left;
	width: 450px;
	margin-right: 80px;
	margin-bottom: 20px;
	padding: 20px;
	background: #f2f1eb;
}
.staff_box:nth-child(2n){
	margin-right: 0;
}
.staff_box img{
	float: left;
	margin-right: 10px;
}
.staff_box h3{
	margin-top: 50px;
	font-size: 13px;
	border-bottom: #bfb89c solid 1px;
}
.staff_box h3 span{
	font-size: 20px;
}
.staff_comment .staff_L{
	width: 370px;
}
.staff_comment.large .staff_L{
/*	width: 500px;*/
	width: 550px;
}
.staff_comment .staff_L img{
	width: 100%;
}
.staff_comment .staff_R{
	padding-left: 50px;
}
.staff_comment .staff_R h3{
	line-height: 1;
}
.staff_comment .position{
	display: block;
	margin-bottom: 8px;
	font-size: 16px;
}
.staff_comment .name{
	margin-right: 10px;
	font-size: 24px;
}
.staff_comment .english{
	color: #AE8042;
	font-size: 15px;
}
.staff_comment .staff_R p{
	margin-bottom: 0;
	font-size: 18px;
	line-height: 1.8;
	letter-spacing: -1px;
}
.staff_sub h3 {
	overflow: hidden;
	margin-bottom: 60px;
}
.staff_sub .photo_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -5px;
}
.staff_sub .photo_wrapper .photo {
	overflow: hidden;
	width: 25%;
/*	margin: 10px;*/
/*	padding: 0 10px;*/
	padding: 10px;
	line-height: 0;
}
.staff_sub .photo_wrapper .photo img {
	width: 100%;
}
@media screen and ( max-width:60em) {
	#page_staff h2 .sp {
		display: none;
	}
	.staff_comment .name,
	.staff_comment .english{
		display: block;
		margin: 0 0 5px 0;
	}
	.staff_comment.large .staff_L{
		width: 370px;
	}
	.staff_comment .staff_R {
		padding-left: 20px;
	}
}
@media screen and ( min-width:30em) {
	.staff_sub_wrapper {
		margin-bottom: 70px;
	}
	.staff_sub h3 .ttl {
		position: relative;
		display: inline-block;
		padding: 0 10px;
		font-size: 30px;
		line-height: 1;
	}
	.staff_sub h3 .ttl:after {
		content: '';
		position: absolute;
		display: block;
		width: 100vw;
		height: 1px;
		top: 50%;
		transform: translateY(-50%);
		border-top: solid 1px #000000;
	}
	.staff_sub h3 .ttl:after {
		left: 100%;
		background-position: left center;
	}
	.staff_sub .photo_wrapper .photo {
		width: 260px;
		height: 240px;
	}
	.staff_sub .photo_wrapper .photo .photo_inner {
		overflow: hidden;
		width: 100%;
		height: 265px;
		padding: 10px;
	}
	.staff_sub .photo_wrapper .photo .photo_inner img {
		width: 120%;
		margin-left: -10%;
	}
}
@media screen and ( max-width:30em) {
	#page_staff h2 .sp {
		display: inline-block;
	}
	#shef_inner h2, .shef_inner h2, #page_staff h2 {
		margin-bottom: 8vw;
		font-size: 6vw;
		line-height: 1.2;
	}
	#page_staff h2 {
		margin-top: 0;
	}
	.staff_comment_wrapper {
		padding-bottom: 14vw;
	}
	.staff_comment {
		display: block;
		margin-bottom: 12vw;
		padding-left: 0;
		align-items: center;
	}
	.staff_comment.large {
		margin-bottom: 13vw;
	}
	.staff_comment .staff_L{
		width: 100%;
		margin-bottom: 4vw;
		padding: 0 12vw;
		text-align: center;
	}
	.staff_comment.large .staff_L{
		width: 100%;
		padding: 0 4vw;
	}
	.staff_comment .staff_R{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 10vw;
	}
	.staff_comment .staff_R h3{
		text-align: center;
	}
	.staff_comment .position {
		margin-bottom: 1vw;
	}
	.staff_comment .staff_R p {
		font-size: 4vw;
		letter-spacing: 0;
	}
	.staff_comment .name,
	.staff_comment .english{
		display: block;
		margin: 0 0 2vw 0;
	}
	.staff_sub .photo_wrapper {
		margin: 0;
	}
	.staff_sub .photo_wrapper .photo {
		width: 50%;
		margin: 0;
		padding: 0;
	}
	.staff_sub h3 {
		margin-bottom: 8vw;
		font-size: 6vw;
		text-align: center;
	}
}

/*--------------------------------------------------------------
 =Event
-------------------------------------------------------------- */

#event_title{
	background: url('images/event/header_img.png') no-repeat;
	background-size: cover;
}
.event_content{
	margin-bottom: 50px;
}
.entry_thumb{
	width: 710px;
	height: 310px;
	overflow: hidden;
}
.posted_title{
	margin-bottom: 10px;
	padding: 10px 40px;
	color: #00A6B6;
	font-size: 25px;
	border-top: #000 solid 1px;
	border-bottom: #000 solid 1px;
}
.posted_date{
	margin: 0;
	padding: 10px 40px;
	font-size: 14px;
}
.entry_content{
	padding: 10px 40px;
	border-bottom: #e8e6dc solid 1px;
}
.entry_content p{
	font-size: 18px;
}
.entry_content img{
	display: block;
	max-width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.entry_footer{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 40px;
}
.entry_footer p{
	float: left;
}
#entry_sns{
	display: flex;
}
#entry_sns li{
	margin-left: 5px;
}
#entry_sns li i{
	color: #00A6B6;
	font-size: 30px;
}
.wp-pagenavi,
.nav-single{
	text-align: center;
	color: #1b5457;
}
.wp-pagenavi a,
.nav-single a{
	color: #1b5457;
	padding: 0 5px;
}
#page_topics .nav-single a{
	position: relative;
	display: block;
	padding-left: 20px;
	font-size: 20px;
}
#page_topics .nav-single a:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -7px;
	width: 12px;
	height: 12px;
	border: 0px;
	border-left: solid 2px #000000;
	border-bottom: solid 2px #000000;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#page_topics .nav-single a:hover{
	opacity: 1;
	color: #00A6B6;
}
#page_topics .nav-single a:hover:after{
	border-left: solid 2px #00A6B6;
	border-bottom: solid 2px #00A6B6;
}
.wp-pagenavi span{
	padding: 0 5px;
}
.nextpostslink,
.previouspostslink,
.nav-previous,
.nav-next{
	margin-left: 20px;
	font-family: 'EB Garamond', serif;
	font-style: italic;
	font-size: 18px;
}
.nav-next,
.previouspostslink{
	margin-right: 20px;
}
.side_box{
	margin-bottom: 50px;
}
.side_box h2{
	padding-bottom: 30px;
	text-align: center;
	color: #1b5457;
	font-size: 25px;
	line-height: 1;
	background: url('images/event/side_border.png') repeat-x bottom left;
}
.side_box h2 i{
	margin-right: 10px;
	font-size: 20px;
}
.side_box ul li{
	padding: 10px 0;
	border-bottom: #000 dotted 1px;
}
.side_box select{
	width: 230px;
	border-radius: 5px;
}
#page_menu .side_box .screen-reader-text{
	display: none;
}
.side_box input[type="text"]{
	width: 180px;
}
#searchsubmit{
	color: #fff;
	background: #66c8ce;
	border: #00a3ad solid 1px;
}

@media screen and (max-width: 30em) {
	.event_content {
		margin-bottom: 0;
		padding: 0 4vw;
	}
	.posted_date {
		padding: 2vw 4vw;
		font-size: 3vw;
	}
	.posted_title {
		margin-bottom: 4vw;
		padding: 4vw;
		font-size: 5vw;
	}
	.entry_content {
		padding: 2vw 0;
	}
	.entry_content p {
		margin-bottom: 5vw;
		padding: 0 4vw;
		font-size: 4vw;
		line-height: 1.3;
	}
	.entry_content img {
		max-width: 100%;
		height: auto;
	}
	.entry_footer {
		padding: 4vw 2vw;
	}
	#page_topics .nav-single a {
		font-size: 4vw;
	}
	#page_topics .nav-single a:after {
		width: 3vw;
		height: 3vw;
		margin-top: -1.5vw;
	}
	#entry_sns li i {
		font-size: 14vw;
	}
}

/* topics front */
.topics-wrapper .topics-box {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	border-top: 1px solid #000000;
}
.topics-wrapper .topics-box li {
	width: 100%;
	border-bottom: 1px solid #808080;
}
.topics-wrapper .topics-box li a {
	display:flex;
	align-items: center;
	width: 100%;
	padding: 6px 60px 6px 0;
	position: relative;
}
.topics-wrapper .topics-box li a:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 25px;
	width: 16px;
	height: 16px;
	margin-top: -10px;
	border: 0px;
	border-top: solid 2px #000000;
	border-right: solid 2px #000000;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.topics-wrapper .topics-box li:hover a:after {
	border-top: solid 2px #00A6B6;
	border-right: solid 2px #00A6B6;
	opacity: 0.6;
}
.topics-wrapper .topics-box li .img_box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 135px;
	height: 100px;
	margin-right: 20px;
	overflow: hidden;
}
.topics-wrapper .topics-box li .img_box img {
	width: 100%;
}
/* 86 */
.topics-wrapper .topics-box li .img_box img {
	width: 100%;
	height: auto;
}
.topics-wrapper .topics-box li .img_box .img {
/*	display: flex;
	justify-content: center;
	align-items: center;
*/
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* 86 end */
.topics-wrapper .topics-box li .date {
	font-size: 15px;
}
.topics-wrapper .topics-box li .content {
	font-size: 20px;
	line-height: 1.2;
}

/*-------------------86--------------------*/
.topics-wrapper .wp-pagenavi {
	text-align: center;
}
.topics-wrapper .wp-pagenavi .pages,
.topics-wrapper .wp-pagenavi .first,
.topics-wrapper .wp-pagenavi .last {
	display: none;
}
.topics-wrapper .wp-pagenavi a,
.topics-wrapper .wp-pagenavi .current {
	position: relative;
	margin: 0 5px;
	padding: 0px 10px 2px;
	color: #00A6B6;
	font-size: 23px;
	border: 1px solid #00A6B6;
}
.topics-wrapper .wp-pagenavi .current {
	color: #FFF;
	background-color: #00A6B6;
}
.topics-wrapper .wp-pagenavi .nextpostslink,
.topics-wrapper .wp-pagenavi .previouspostslink {
	font-style: inherit;
	border: none;
	position: relative;
}
.topics-wrapper .wp-pagenavi .nextpostslink:after,
.topics-wrapper .wp-pagenavi .previouspostslink:after {
	content: '';
	width: 14px;
	height: 14px;
	border: 0px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	margin-top: -7px;
}
.topics-wrapper .wp-pagenavi .previouspostslink:after {
	right: 0;
	border-left: solid 2px #00A6B6;
	border-bottom: solid 2px #00A6B6;
}
.topics-wrapper .wp-pagenavi .nextpostslink:after {
	left: 0;
	border-top: solid 2px #00A6B6;
	border-right: solid 2px #00A6B6;
}

/*--------------------86---------------------*/
@media screen and (max-width: 30em) {
	.topics-wrapper .topics-box {
		margin: 0 4vw 4vw;
	}
	.topics-wrapper .topics-box li a {
		padding: 6vw 0;
	}
	.topics-wrapper .topics-box li .img_box {
		width: 35%;
		margin-right: 0;
	}
	.topics-wrapper .topics-box li .topics_content_box {
		width: 65%;
		padding: 0 9vw 0 4vw;
	}
	.topics-wrapper .topics-box li .date {
		font-size: 4vw;
	}
	.topics-wrapper .topics-box li .content {
		font-size: 4.5vw;
	}
	.topics-wrapper .topics-box li a:after {
		right: 4vw;
		width: 3vw;
		height: 3vw;
		margin-top: -1.5vw;
		border-top: solid 2px #000000;
		border-right: solid 2px #000000;
	}
	.topics-wrapper .wp-pagenavi a,
	.topics-wrapper .wp-pagenavi .current {
		padding: 0px 2.8vw 0.5vw;
		font-size: 6vw;
	}
}

/*--------------------------------------------------------------
 =Footer
-------------------------------------------------------------- */

#side_fixed_bnr{
	position: fixed;
	top: 200px;
	right: 0;
	z-index: 9999;
}
#side_fixed_bnr a{
	width: 37px;
	height: 130px;
	background: url('images/footer/btn_res.png') no-repeat;
	background-position: left top;
}
#side_fixed_bnr a:hover{
	background-position: right top !important;
}
#site_footer{
	margin-top: 195px;
	background-color: #00A6B6;
}
#footer_link h2{
	position: relative;
	margin-bottom: 10px;
	text-align: center;
	color: #1b5457;
	font-size: 20px;
	line-height: 1;
}
#footer_link h2:before{
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 47%;
	height: 1px;
	background: #cbc4ad;
}
#footer_link h2:after{
	content: '';
	position: absolute;
	top: 10px;
	right: 0;
	width:47%;
	height: 1px;
	background: #cbc4ad;
}
#footer_link h2 i{
	font-size: 15px;
}

@media screen and (max-width: 30em) {
	#site_footer{
		margin-top: 22vw;
	}
}

#footer_slide{
	margin: 0 auto 10px;
}
#footer_slide ul li{
	margin-right: 20px;
}
#footer_slide .flex-direction-nav a{
	opacity: 1;
	height: 45px;
}
#footer_slide .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-prev{
	left: -50px;
}
#footer_slide .flex-direction-nav .flex-next,
.flexslider:hover .flex-direction-nav .flex-next{
	right: -50px;
	text-align: right;
}
#footer_slide .flex-direction-nav a:before{
	content: url('images/footer/arrow_left.png');
}
#footer_slide .flex-direction-nav a.flex-next:before{
	content: url('images/footer/arrow_right.png');
}
#footer_middle{
}
#footer_sns{
	float: left;
	margin: 15px 0 0;
}
#footer_nav{
	margin-bottom: 40px;
}
#footer_nav ul{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
#footer_nav li{
	position: relative;
}
#footer_nav li:after {
	content: '';
	position: absolute;
	top: 25%;
	right: 0;
	width: 1.1px;
	height: 12px;
	background: #ffffff;
}
#footer_nav li:last-child:after {
	content: none;
}
#footer_nav li a{
	display: block;
	padding: 0 20px;
	color: #ffffff;
	font-size: 16px;
}
.sns_btn span.fb{
	left: 0;
	width: 100px;
}
.sns_btn span.tw{
	left: 110px;
}
.sns_btn span.google1{
	left: 190px;
	width: 60px;
}

@media screen and (max-width: 30em) {
	#footer_nav{
		margin-bottom: 6vw;
	}
	#footer_nav li a{
		padding: 0 2vw;
		font-size: 3.2vw;
	}
}

/* pagetop */
#pagetop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	font-size: 77%;
	opacity: 0.8;
	z-index: 110;
}
#pagetop a {
	display: block;
	width: 108px;
	height: 108px;
	text-align: center;
	text-decoration: none;
	color: rgba(255,255,255,0);
	background-image: url('images/footer/pagetop.png');
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
}
#footer_bottom{
	position: relative;
	text-align: center;
	background-color: #00A6B6;
}
#footer_bottom .bg_img{
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 30px;
	line-height: 0;
/*	padding: 12vw 0 0 0;
	background-image: url(images/footer/footer_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
*/
}
#footer_bottom .bg_img img{
	width: 100%;
}
#footer_logo{
	display: inline-block;
	margin-bottom: 40px;
}
#footer_contact_box{
	display: block;
}
#footer_contact{
	display: inline-block;
	padding: 6px 30px;
	color: #ffffff;
	font-size: 15px;
	border: 1px solid #ffffff;
	border-radius: 100px;
}
#footer_tel{
	overflow: hidden;
	margin: 0;
	color: #ffffff;
	font-size: 17px;
	line-height: 1.5;
}
#footer_tel a{
	color: #ffffff;
}
#footer_tel .font_en{
	font-size: 55px;
	font-weight: bold;
}
#footer_copy{
	margin: 0;
	color: #fff;
	font-size: 12px;
	font-style: normal;
}

@media screen and (max-width: 60em) {
	#pagetop {
		opacity: 1;
	}
/*	#footer_bottom {
		padding: 380px 0 110px 0;
	}*/
	#footer_bottom {
		padding: 0 0 110px 0;
	}
}
@media screen and (min-width: 30em) and (max-width: 60em) {
	#pagetop {
		bottom: 10px;
	}
	#pagetop a {
		width: 88px;
		height: 88px;
	}
}

@media screen and (max-width: 30em) {
	#footer_bottom {
/*		padding: 58vw 0 20vw 0;*/
		padding: 0 0 20vw 0;
		background-size: 300vw;
	}
	#footer_bottom .bg_img {
		max-width: 100%;
		margin-bottom: 6vw;
	}
	#footer_bottom .bg_img img{
		width: 200%;
		margin: 0 -50%;
	}
	#pagetop {
		right: 2vw;
		bottom: 2vw;
	}
	#pagetop a {
		width: 18vw;
		height: 18vw;
	}
	#footer_logo{
		width: 23%;
		margin-bottom: 6vw;
	}
	#footer_logo img {
		width: 100%;
	}
	#footer_copy{
		font-size: 2vw;
		letter-spacing: 0;
		line-height: 1.2;
	}
}

#footer_float {
	position: absolute;
	bottom: -275px;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	background-color: #AE8042;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
	z-index: 100;
}

#footer_float.fixed {
	position: fixed;
	bottom: -275px;
	width: 100%;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	transform: translate(0,-275px);
	z-index: 100;
}
#footer_float .float_wrapper {
	margin-right: 120px;
	padding: 10px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #ffffff;
}
#footer_float .float_wrapper .sub {
	font-size: 16px;
}
#footer_float .float_wrapper .tel a {
	color: #ffffff;
}
#footer_float .float_wrapper .tel .font_en {
	font-size: 42px;
	font-weight: bold;
	line-height: 1;
}

@media screen and (max-width: 30em) {
	#footer_float {
		padding: 2vw;
	}
	#footer_float .float_wrapper {
		margin-right: 21vw;
		padding: 2vw;
	}
	#footer_float .float_wrapper .sub {
		font-size: 3.5vw;
	}
	#footer_float .float_wrapper .tel .font_en {
		font-size: 8vw;
	}
}

/* wave */
#wave-content .wave-wrapper {
	margin-top: 10px;
}
#wave-content .wave-wrapper .wave {
	line-height: 0;
}
#wave-content .wave-wrapper .wave img {
	width: 100%;
}

@media screen and (max-width: 30em) {
	#wave-content .wave-wrapper {
		display: flex;
		width: 200%;
		margin: 0 -50%;
		margin-top: 4vw;
	}
}

/*
#canvas-cont {
	position: absolute;
	bottom: -50%;
	z-index: -1;
	background-color: #00A6B6;
	height: 1000px;
	width: 100%;
}
.waterwave-canvas {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 3000px;
	background-color: rgba(255,255,255,0);
}
.waterwave-front {
	bottom: 10px;
	left: -500px;
	transform: rotate(5deg);
}
.waterwave-back {
	opacity: 0.1;
	transform: rotate(3deg);
}
*/
#footer_company{
	display: inline-block;
	padding: 6px 30px;
	color: #ffffff;
	font-size: 15px;
	border: 1px solid #ffffff;
	border-radius: 100px;
}
#footer_company li a{
	display: block;
	color: #ffffff;
	font-size: 16px;
}